header{
                text-align: center;
                font-size: xx-large;
                border: 5px solid black;
                padding-left: 25%;
                padding-right: 25%;
                
}
nav{
            
                display: flex;
                justify-content: flex-start;
                gap: 1em;
                
                
}
button{
                font-size: xx-large;
}

.market-image {
    height: 20vw;
    width: auto;
    border-width: 40px 14px 40px 14px;
    border-color: forestgreen;
    border-style: solid;
    border-radius: 8px;
}

.img-title{
    text-align: center;
    font-size: large;
    padding-left: 25%;
    padding-right: 25%;
}

.img-container {
    width: 100%;    
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    row-gap: 4vw;
    column-gap: 6vw;
    align-items: stretch;
    background-color: rgb(127, 255, 53);
    border-radius: 10px;
}

#click-object {

            display: flex;
            justify-content: center;
}

#total {
            display: flex;
            justify-content: center;
}

body {
            background-color: lightblue;
}

table{
    margin-left:auto;
    margin-right:auto
}