header{
                text-align: center;
                font-size: xx-large;
                border: 5px solid black;
                padding-left: 25%;
                padding-right: 25%;
                
}
nav{
            
                display: flex;
                justify-content: flex-start;
                gap: 1em;
                
                
}
button{
                font-size: xx-large;
}

#click-object {

            display: flex;
            justify-content: center;
}

#total {
            display: flex;
            justify-content: center;
}

body {
            background-color: lightblue;
}