header{
                text-align: center;
                font-size: xx-large;
                border: 5px solid black;
                padding-left: 25%;
                padding-right: 25%;
                
                
}
head {
    background-color: grey;
}
nav{
            
                display: flex;
                justify-content: space-around;
                gap: 1em;
                
                
}
button{
                font-size: x-large;
                border-radius: 10px;
                border-color: #58727f;
                width: 200px;
                
}

#click-object {

            display: flex;
            justify-content: center;
}

#total {
            display: flex;
            justify-content: center;
}

body {
            
            background-color: lightblue;  
            font-family: Helvetica, sans-serif;
            
            
            
}
table, th {    
            border: 1px solid black;
            border-collapse: collapse;
            margin-left: auto;
            margin-right: auto;
            width: 33%;
            background-color: white;
            
}
td {
    border: 1px solid black;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 30px;
    width: 60px;
    text-align: center;
}


#topOfPage {
    
    background-color: #58727f; 
    padding-top: 5px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    color: white;
    font-family: Helvetica, sans-serif
    
}
h1{
    display: flex;
    justify-content: center;
    
}
h2{
    display: flex;
    justify-content: center;

}
p{
    display: flex;
    justify-content: center;
    font-family: Garamond, serif;
    font-size: 20px;
}
input{
    display: flex;
    justify-content: center;
}
#userinput{
    display: flex;
    justify-content: center;
}

a{
    display: flex;
    justify-content: center;
}


