<!DOCTYPE html>
<html>
    <head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <link rel="stylesheet" href="/s/style.css">
        <h1>{% if page_title %} {{page_title}}{% endif %}</h1>
        <nav>
            <a href="index.html"><button>Home</button></a>
            <a href="create.html"><button>Create Account</button></a>
            <a href="login.html"><button>Login</button></a>
            <a href="game.html"><button>Play Game</button></a>
            <a href="marketplace.html"><button>Marketplace</button></a>
            <a href="leaderboard.html"><button>Leaderboard</button></a>
        </nav>
    </head>
    <body>
        <br>
        <h2>Welcome{% if user is defined and user['uname'] is defined %} {{user['uname']}}{% endif %}!</h2>

        {% block content %} {% endblock %}

        <h2 id="total">{% if user is defined and user['collectibles'] is defined %}{{user['collectibles']}}{% else %}-1{% endif %}</h2>
    </body>
    </html>