{% extends '_base.html' %}
{% block content %}

{% if err %}
    <p class = "error" name = "status">Error: {{err}}</p>
{% endif %}
   <br>
    <table id = "inputTable">
    
    
    <form method="post" action="/create-user">
        <tr>
        <td id = "inputElement">
        <label for="uname">Username:</label>
        </td>
        <td id = "inputElement">
        <input type="text" id="uname" name="uname">
        </td>
        </tr>
        
        
        <tr>
        <td id = "inputElement">
        <label for="password">Create a Password:</label><br>
        </td>
        <td id = "inputElement">
        <input type="password" id="password" name="password">
        </td>
        </tr>
        

        <tr>
        <td id = "inputElement">
        <label for="password">Confirm Password:</label>
        </td>
        <td id = "inputElement">
        <input type="password" id="password-confirm" name="password-confirm">
        </td>
        </tr>
        <tr>
        <td id = "inputElement">
        <input type="submit" value="Submit">
        </td>
        </tr>
    </form>
    </table>
{% endblock %}