{% extends '_game.html' %}
{% block content %}
    </body>
    <body id = "game-body">
    <br><br>
    <div class = "container">
        <div class = "row">
            <!--<div class = "nav" id = "buildingNav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
                <a id = "building" ondragstart="move(this.id);">  
                    <img width="100px" src="/s/building.png" border="0">
                </a>           
            </div>-->

            <div class = "nav" id = "searchNav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">&times;</a>
                <a>  
                    <tr>
                        <form onsubmit = "checkFriend();return false">
                            <td id = "unameToSearch">Search:</td><input id="username" type="text" name="search" style="width:75%">
                            <input type="Submit">                        
                        </td>
                        
                    </tr>
                </a>  
                <p id = 'friend-stat'></p>                         
            </div>

            <div class = "nav" id = "listNav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav3()">&times;</a>
                <div>  
                    {% if user is defined %}<tr><td>&nbsp<strong>{{user['uname']}}</strong>'s Friend List</td></tr>{% endif%}
                    <p></p>  
                    <div id = 'friend-list'>                                      
                    {% for player in players %}
                        <span class = 'visit-flow' id = 'span friend {{player}}'><a class = 'visit-links' href = 'visit/{{player}}'>{{player}}</a><p class = 'friend-rm' id = 'friend {{player}}' onclick='removeFriend(this.id)'>Remove</p></span>
                    {% endfor %}
                    </div>
                </div>           
            </div>
            <div class = "nav" id = "customNav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav4()">&times;</a>
                <a>  
                    <strong>Change Collectible Label</strong>
                    Singular:
                    <input type="text" id="singular" value="">
                    Plural:
                    <input type="text" id="plural" value="">
                    <input type="button" id="updateColLabelButton" value="Update" onclick="updateCollectionLabel()">
                    <div id="updateColLabelError" hidden></div>
                </a>  
            </div>  
            
            <div class = "nav" id = "templateNav">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav5()">&times;</a>
                <h3 style = "text-align: center"><strong>Template Selection</strong></h3>
                <div>
                <h4 style = "text-align: center"><strong>Muffins</strong></h4>                
                <div class='innerNav' id = 'template-muffins'>  

                </div> 
                <h4 style = "text-align: center"><strong>Cupcakes</strong></h4>
                <div class='innerNav' id = 'template-cupcakes'>  

                </div> 
                <h4 style = "text-align: center"><strong>Cookies</strong></h4>
                <div class='innerNav' id = 'template-cookies'>  

                </div>  
                </div>
            </div>  

            <div class = "nav" id = "imageNav">
                
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav6()">&times;</a>
                <h3 style = "text-align: center"><strong>Image Selection</strong></h3>
                <div class='innerNav' id = 'user-imgs'>  

                </div>  
            </div> 

            <div class = "nav" id = "colorPicker">
                
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav7()">&times;</a>
                <h3 style = "text-align: center"><strong>Color Selection</strong></h3>
                <div id = 'color-pickers'>
                    <div class = 'color-box'>
                        <p>Background</p>                      
                        <input id = 'bg' oninput="changeColor(this.id)" type="color" class = 'color-box'>
                    </div>
                    <div class = 'color-box'>
                        <p>Game Space</p>
                        <input id = 'gs' oninput="changeColor(this.id)" type="color" class = 'color-box'>
                    </div>
                    <div class = 'color-box'>
                        <p>Ribbons</p>
                        <input id = 'r' oninput="changeColor(this.id)" type="color" class = 'color-box'>
                    </div>
                    <div class = 'color-box'>
                        <p>Sidebar</p>
                        <input id = 's' oninput="changeColor(this.id)" type="color" class = 'color-box'>
                    </div>
                    <div class = 'color-box'>
                        <p>Navigation</p>
                        <input id = 'n' oninput="changeColor(this.id)" type="color" class = 'color-box'>
                    </div>
                </div>  
                <br><br>
                <input onclick="resetColors()" id = 'resetColors', type = 'button' value = 'Reset' class = 'color-reset'></div>                
            </div>  

            <div class = "column" style='float:left; width:10%'>
                {% if user is defined %}
                <!--
                <div class = "box" id = "1" onclick="openNav()">
                    <span style="font-size:20px;cursor:pointer;">Buildings</span>
                </div> -->
                <div class = "box" id = "2" onclick="openNav2()">
                    <span style="font-size:20px;cursor:pointer;" >Friend Search</span>
                </div>
                <div class = "box" id = "3" onclick="openNav3()">
                    <span style="font-size:20px;cursor:pointer;">Friend List</span>
                </div>
                <div class = "box" id = "4" onclick="openNav4()">
                    <span style="font-size:20px;cursor:pointer;">Collectible</span>
                </div>
                <div class = "box" id = "5" onclick="openNav5()">
                    <span style="font-size:20px;cursor:pointer;">Template</span>
                </div>
                <div class = "box" id = "6" onclick="openNav6()">
                    <span style="font-size:20px;cursor:pointer;">Image</span>
                </div>
                <div class = "box" id = "7" onclick="openNav7()">
                    <span style="font-size:20px;cursor:pointer;">Color</span>
                </div>
                {% else %}
                <div class = "box"">
                    <a class = 'demo-links' href = '/login' style="font-size:20px;cursor:pointer;">Login!</a>
                </div>
                <div class = "box"">
                    <a class = 'demo-links' href = '/create' style="font-size:20px;cursor:pointer;">Create Account!</a>
                </div>
                {% endif %}
            </div>

            <div  class = "column" id = "gameArea" style='float:left; width:75%; margin-left:40px'>
                <div id="test" draggable="true" ondragstart="drag(this.id,event);"> </div>                  
                <div id="click-object">                    
                    <img src="/s/Null_Template.png" id = "click-button" onclick="inc()" alt="click object" height="256em" width="256em">
                    <img src="/s/click-object.png" id = "user-image" height="256em" width="256em">    
                </div>
            </div>       
            
            <div  class = "column" style='float:left; width:15%; margin-right:0px'>
            </div>
        </div>
    </div>

    <script src="/s/ajaxRequests.js"></script>
    <script src="/s/getTemplates.js"></script>
    <script src="/s/friends.js"></script>    
    
    <script>
        {% if user is defined %}
            let userObj = cleanAccountJson( {{ user|tojson }} );
            let chosenImage = "/s/click-object.png";
            let chosenTemplate = "/s/Null_Template.png";
            
            let colors = userObj.colors.split('-');
            let variations = ['bg','gs','r','s','n'];

            for(let i = 0;i<colors.length;i++){
                if(colors[i]!="#"){
                    changeColorStart(variations[i],colors[i])
                }else{
                    if(i==0){
                        document.getElementById('bg').value='#add8e6';
                    }else if(i==1){
                        document.getElementById('gs').value='#add8e6';
                    }else if(i==2){
                        document.getElementById('r').value='#213458';
                    }else if(i==3){
                        document.getElementById('s').value='#599b98';
                    }else if(i==4){
                        document.getElementById('n').value='#58727f';
                    }
                }
            }



            
            // check if user gained collectibles offline
            if (userObj.left_game > 0) {
                // do calculations
                let elapsedSeconds = Math.floor((Date.now() - userObj.left_game) / 1000);
                console.log("It has been " + elapsedSeconds + " seconds since the last game page visit");
                userObj.collectibles = userObj.collectibles + (elapsedSeconds * userObj.cps);
                console.log("generated " + (elapsedSeconds * userObj.cps) + " collectibles since they were gone! " + elapsedSeconds + " seconds away at a rate of " + userObj.cps + " cps");
                saveAndUpdateLocal();
            }
            else{
                console.log("first time visiting the game page!");
            }

            updateUIOnLoad(userObj.uname);

            // initialize cps incrementing and saving interval
            setInterval(addCPSLocal, 1000);
            setInterval(saveAndUpdateLocal, 10000);

            document.getElementById("user-image").style.top = document.getElementById("click-button").style.top;
            document.getElementById("user-image").style.left = document.getElementById("click-button").style.left;

            var search = userObj.saved_imgs;

            let muffinList = getMuffins();
            for(let i = 0; i<muffinList.length;i++){
                createTemplateElement(muffinList[i],'template-muffins');
            }

            let cupcakeList = getCupcakes();
            for(let i = 0; i<cupcakeList.length;i++){
                createTemplateElement(cupcakeList[i],'template-cupcakes');
            }

            let cookieList = getCookies();
            for(let i = 0; i < cookieList.length; i++){
                createTemplateElement(cookieList[i], 'template-cookies');
            }            

            sendJsonRequest({'search':search}, '/getAllClaimedImages', function(result, targetUrl, params) {                
                navCallback(result);
                return result;
            });
            
            function createTemplateElement(src,dest){
                    var new_div = document.createElement("div");
                    new_div.id = "div " + src;
                    new_div.style.textAlign='center';
                    new_img = document.createElement('img');
                    new_img.id = "template " + src;
                    new_img.src = src;
                    new_img.style.width = "110px";
                    new_img.style.height = "110px";
                    new_img.name = 'unchosen'
                    new_img.onclick = function(){addOrRemove(this.id,"template")};
                    new_div.appendChild(new_img);
                    document.getElementById(dest).appendChild(new_div);
            }
            
            function navCallback(imgs){
                if(imgs.length==1){
                    document.getElementById('user-imgs').style.justifyContent = 'center';
                    var new_div = document.createElement("div");
                    new_div.id = 'ImgFailure';
                    var new_p = document.createElement("p");
                    new_p.innerHTML = 'No Images Found';
                    new_div.appendChild(new_p);
                    var new_link = document.createElement("a");
                    new_link.innerHTML = 'Visit the Marketplace!';
                    new_link.href = '/marketplace';
                    new_link.id = 'm-link';
                    new_div.appendChild(new_link);
                    document.getElementById('user-imgs').appendChild(new_div);
                    selectionsOnStart();
                    return;
                }
                for(let i = 0; i<imgs.length;i++){                 
                    if(imgs[i].url=="EOI"){ 
                        selectionsOnStart();
                        return;
                    }
                    var new_div = document.createElement("div");
                    new_div.id = "div " + imgs[i].url;
                    new_div.style.textAlign='center';
                    var new_p = document.createElement("p");
                    new_p.innerHTML = imgs[i].title;
                    new_p.style.textAlign="center";
                    new_img = document.createElement('img');
                    new_img.id = "img " + imgs[i].url;
                    new_img.src = imgs[i].url;
                    new_img.style.width = "110px";
                    new_img.style.height = "110px";
                    new_img.name = 'unchosen'
                    new_img.onclick = function(){addOrRemove(this.id,"image")};
                    new_div.appendChild(new_p);
                    new_div.appendChild(new_img);
                    document.getElementById('user-imgs').appendChild(new_div);
                }

            } 

            function selectionsOnStart(){
                if(userObj.sel_img!=null&&userObj.sel_img!=""){
                    var imgStr = userObj.sel_img;
                    chosenImage = imgStr;
                document.getElementById('user-image').src=imgStr;
                if(document.getElementById("img "+imgStr)!=null){
                    document.getElementById("img "+imgStr).style.border = "thick solid green";
                    document.getElementById("img "+imgStr).name = 'chosen';
                }
            }
            if(userObj.sel_template!=null&&userObj.sel_template!=""){
                var imgStr = userObj.sel_template;
                    chosenTemplate = imgStr;
                document.getElementById('click-button').src=imgStr;
                if(document.getElementById("template "+imgStr)!=null){
                    document.getElementById("template "+imgStr).style.border = "thick solid green";
                    document.getElementById("template "+imgStr).name = 'chosen';
                }
            }
            }
            
            function addOrRemove(id,type){
                if(document.getElementById(id).name=="unchosen"){
                    document.getElementById(id).style.border = "thick solid green";
                    document.getElementById(id).name = 'chosen';
                    if(type=="image"){
                        if(document.getElementById("img " + chosenImage)){
                            document.getElementById("img " + chosenImage).name = "unchosen"
                            document.getElementById("img " + chosenImage).style.border = "thick none green";
                        }
                        document.getElementById('user-image').src = id.substring(4);
                        chosenImage = id.substring(4);
                    }else if(type=="template"){
                        if(document.getElementById("template " + chosenTemplate)){
                            document.getElementById("template " + chosenTemplate).name = "unchosen"
                            document.getElementById("template " + chosenTemplate).style.border = "thick none green";
                        }
                        document.getElementById('click-button').src = id.substring(9);
                        chosenTemplate = id.substring(9);
                    }
                    
                }else{
                    document.getElementById(id).style.border = "thick none green";
                    document.getElementById(id).name = 'unchosen';
                    if(type=="image"){
                        document.getElementById('user-image').src = "/s/click-object.png";
                        chosenImage = "";
                    }else if(type=="template"){
                        document.getElementById('click-button').src = "/s/Null_Template.png";
                        chosenTemplate = "";
                    }
                }
                sel(type);
                closeNav5();
                closeNav6();
            }

            function sel(type){
                if(type=="image"){
                    userObj.sel_img=chosenImage;
                }else if(type=="template"){
                    userObj.sel_template=chosenTemplate;
                }    
                saveAndUpdateLocal(userObj);
            };   
            
            function changeColor(id){
                var c = document.getElementById(id).value;
                if(id=='bg'){
                    var items = document.querySelectorAll("body");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                    colors[0] = c;
                }else if(id=='gs'){
                    document.getElementById("gameArea").style.backgroundColor = c;
                    colors[1] = c;
                }else if(id=='r'){
                    var items = document.querySelectorAll("div.nav");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                    colors[2] = c;
                    c = c.replace('1','0');
                    c = c.replace('2','0');
                    c = c.replace('3','1');
                    c = c.replace('4','2');
                    c = c.replace('5','3');
                    c = c.replace('6','4');
                    c = c.replace('7','5');
                    c = c.replace('8','6');
                    c = c.replace('9','7');
                    c = c.replace('a','8');
                    c = c.replace('b','9');
                    c = c.replace('c','a');
                    c = c.replace('d','b');
                    c = c.replace('e','c');
                    c = c.replace('f','d');

                    var items = document.querySelectorAll("div.innerNav");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                                        
                }else if(id=='s'){
                    var items = document.querySelectorAll("div.box");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                    colors[3] = c;
                }else if(id=='n'){
                    document.getElementById("topOfPage").style.backgroundColor = c;
                    colors[4] = c;
                }
                
            }

            function changeColorStart(id,c){
                if(id=='bg'){
                    var items = document.querySelectorAll("body");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                    document.getElementById(id).value=c;                    
                }else if(id=='gs'){
                    document.getElementById("gameArea").style.backgroundColor = c;
                    document.getElementById(id).value=c;
                }else if(id=='r'){
                    var items = document.querySelectorAll("div.nav");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                    document.getElementById(id).value=c;
                    c = c.replace('1','0');
                    c = c.replace('2','0');
                    c = c.replace('3','1');
                    c = c.replace('4','2');
                    c = c.replace('5','3');
                    c = c.replace('6','4');
                    c = c.replace('7','5');
                    c = c.replace('8','6');
                    c = c.replace('9','7');
                    c = c.replace('a','8');
                    c = c.replace('b','9');
                    c = c.replace('c','a');
                    c = c.replace('d','b');
                    c = c.replace('e','c');
                    c = c.replace('f','d');

                    var items = document.querySelectorAll("div.innerNav");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                                        
                }else if(id=='s'){
                    var items = document.querySelectorAll("div.box");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                    document.getElementById(id).value=c;
                }else if(id=='n'){
                    document.getElementById("topOfPage").style.backgroundColor = c;
                    document.getElementById(id).value=c;
                }
                
            }

            function resetColors(){
                var items = document.querySelectorAll("body");
                for(let i = 0; i<items.length;i++){
                    items[i].style.backgroundColor = 'lightblue';
                }
                document.getElementById('bg').value='#add8e6';
                document.getElementById("gameArea").style.backgroundColor = 'lightblue';
                document.getElementById('gs').value='#add8e6';
                items = document.querySelectorAll("div.nav");
                for(let i = 0; i<items.length;i++){
                    items[i].style.backgroundColor = 'rgb(94, 122, 115)';
                }
                items = document.querySelectorAll("div.innerNav");
                for(let i = 0; i<items.length;i++){
                    items[i].style.backgroundColor = '#213458';
                }
                document.getElementById('r').value='#213458';

                items = document.querySelectorAll("div.box");
                for(let i = 0; i<items.length;i++){
                    items[i].style.backgroundColor = 'rgba(89, 155, 152, 0.801)';
                }
                document.getElementById('s').value='#599b98';

                document.getElementById("topOfPage").style.backgroundColor = '#58727f';
                document.getElementById('n').value='#58727f';
                for(let i = 0; i<colors.length;i++){
                    colors[i] = '#';
                }
                saveAndUpdateLocal();
            }

        {% else %}
            let count = 0;
        {% endif %}

        function saveAndUpdateLocal(){
            //updateAccountFromJson(userObj); < deprecated
            // convert the JSON into a string, sendBeacon doesn't take JSON objects
            let tmp = ''
            for(let i = 0; i<colors.length;i++){
                tmp = tmp + '-' + colors[i];
            }
            tmp = tmp.substring(1);
            userObj.colors = tmp;
            let userStr = JSON.stringify(userObj);
            // sendBeacon makes a POST request, but tells the browser to make it whenever it can
            // Allows the POST request to be sent even if the page that requested it isn't loaded
            navigator.sendBeacon("/updateAccountFromJson", userStr);
        }

        function addCPSLocal(){
            
            /*
            let total = 0;

            for(let i = 0; i < userObj.factories.length; i++){
                //console.log("i:" + i);
                //console.log("userObj.factories: " + userObj.factories[i]);
                if(userObj.factories[i] > 0){
                    total += getFactories()[i].cps_boost * userObj.factories[i];
                }
            }
            */

            userObj.collectibles += userObj.cps;
            document.getElementById("total").textContent = userObj.collectibles.toLocaleString();
        }        

        function buyFactoryLocal(factoryID){
             
            // if the user can afford the factory
            if (userObj.collectibles >= getFactories()[factoryID].currentPrice(userObj.factories[factoryID])){
                // take the collectibles to pay for it
                userObj.collectibles -= getFactories()[factoryID].currentPrice(userObj.factories[factoryID]);
                // give them the factory
                userObj.factories[factoryID] += 1;
                // update user cps
                userObj.cps = userObj.cps + getFactories()[factoryID].cps_boost;
                // update the UI to reflect the changes
                updateUI(userObj);
            }
        }        

        // Ignore the warnings, flask/jinja replaces above correctly

        function inc(){

            {% if user is defined %}
                
                userObj.collectibles = userObj.collectibles + 1;
                document.getElementById("total").textContent = userObj.collectibles.toLocaleString();

            {% else %}
                // do nothing, doesn't have an account
                count = count + 1;
                document.getElementById("total").textContent = count.toLocaleString();
            {% endif %}

        }

        // updates the datastore entity with data from the the user's session when they leave the page
        document.addEventListener('visibilitychange', function leaveGame(){
            
            //console.log("\nWell leaveGame() is being called at least\n");

            {% if user is defined %}

               // This is the surefire way to detect when the page is left
               // Page passes through the hidden state before the terminated state
               // Can't detect terminated state, but can detect hidden state more reliably than onunload/pagehide
               if(document.visibilityState == "hidden"){
                //userObj['leftGame'] = ;
                    userObj.left_game = Date.now();
                    saveAndUpdateLocal();
                    console.log("saved");
               }

            {% else %}
                // do nothing, doesn't have an account
            {% endif %}
        });

        /*
        //drag stuff
        building.onmousedown = function(event) {

            let shiftX = event.clientX - building.getBoundingClientRect().left;
            let shiftY = event.clientY - building.getBoundingClientRect().top;

            building.style.position = 'absolute';
            building.style.zIndex = 1000;
            document.body.append(building);

            moveAt(event.pageX, event.pageY);

            // moves the building object at (pageX, pageY) coordinates
            // taking initial shifts into account
            function moveAt(pageX, pageY) {
                building.style.left = pageX - shiftX + 'px';
                building.style.top = pageY - shiftY + 'px';
            }

            function onMouseMove(event) {
                moveAt(event.pageX, event.pageY);
            }

            // move the building object on mousemove
            document.addEventListener('mousemove', onMouseMove);

            // drop the building object, remove unneeded handlers
            building.onmouseup = function() {
                document.removeEventListener('mousemove', onMouseMove);
                building.onmouseup = null;
            };
            
            building.ondragstart = function() {
                return false;
            };
        };

            //menu stuff (I'm lazy so I just made a function for each menu)
            function openNav() {
            document.getElementById("buildingNav").style.width = "180px";
            }

            function closeNav() {
            document.getElementById("buildingNav").style.width = "0";
            }
            */

            function openNav2() {
            document.getElementById("searchNav").style.width = "400px";
            }

            function closeNav2() {
                document.getElementById('friend-stat').innerHTML = "";
            document.getElementById("searchNav").style.width = "0";
            }

            function openNav3() {
            document.getElementById("listNav").style.width = "300px";
            }

            function closeNav3() {
            document.getElementById("listNav").style.width = "0";
            }

            // customize menu
            function openNav4() {
                document.getElementById("customNav").style.width = "250px";
            }

            function closeNav4() {
                document.getElementById("customNav").style.width = "0";
                document.getElementById("updateColLabelError").setAttribute("hidden", "true");
            }

            function openNav5() {
                document.getElementById("templateNav").style.width = "100%";
            }

            function closeNav5() {
                document.getElementById("templateNav").style.width = "0";
            }

            function openNav6() {
                document.getElementById("imageNav").style.width = "100%";
            }

            function closeNav6() {
                document.getElementById("imageNav").style.width = "0";
            }

            function openNav7() {
                document.getElementById("colorPicker").style.width = "100%";
            }

            function closeNav7() {
                document.getElementById("colorPicker").style.width = "0";
            }

            function updateCollectionLabel() {

                let sinOptionContent = document.getElementById("singular").value;
                let plurOptionContent = document.getElementById("plural").value;
                let errMsg = document.getElementById("updateColLabelError");

                {% if user is defined %}
                if ((sinOptionContent.trim() != '' && sinOptionContent.trim().length <= 20) && (plurOptionContent.trim() != '' && plurOptionContent.trim().length <= 25)){
                    userObj.collectible_label_s = sinOptionContent;
                    userObj.collectible_label_p = plurOptionContent;
                    saveAndUpdateLocal();
                    updateUI(userObj);
                    errMsg.innerHTML = "<strong>Updated successfully!</strong>";
                }
                else if (sinOptionContent.trim() == '' && plurOptionContent.trim() != ''){
                    errMsg.innerHTML = "<strong>Singular option is blank!</strong>";
                }
                else if (sinOptionContent.trim() != '' && plurOptionContent.trim() == ''){
                    errMsg.innerHTML = "<strong>Plural option is blank!</strong>";
                }
                else if (sinOptionContent.trim() == '' && plurOptionContent.trim() == ''){
                    errMsg.innerHTML = "<strong>Both options are blank!</strong>";
                }
                else if (sinOptionContent.trim().length > 20){
                    errMsg.innerHTML = "<strong>Singular label must be less than or equal to 20 characters!</strong>";
                }
                else if (plurOptionContent.trim().length > 25){
                    errMsg.innerHTML = "<strong>Plural label must be less than or equal to 25 characters!</strong>";
                }
                {% else %}
                    errMsg.innerHTML = "<strong>Please log in first!</strong>";
                {% endif %}

                errMsg.removeAttribute("hidden");

                //console.log("'" + sinOptionContent + "' | '" + plurOptionContent + "'");
                //console.log(typeof(sinOptionContent) + " | " + typeof(plurOptionContent));
                //console.log(typeof(sinOptionContent.trim()) + " | " + typeof(plurOptionContent.trim()));

            }

    </script>

{% endblock %}
