{% extends '_game.html' %}
{% block content %}
    </body>
    <body id = "game-body">
    <br><br>
    <div id="click-object">
        <img src="/s/click-object.png" onclick="inc()" alt="click object" height="256em" width="256em">
    </div>


    <script>
        
        {% if user is defined %}
            let count = {{ user|tojson }}.collectibles;
        {% else %}
            let count = 0;
        {% endif %}

        // Ignore the warnings, flask/jinja replaces above correctly

        function inc(){
            //alert("total: " + document.getElementById('total').textContent + " " + parseInt(document.getElementById('total').textContent));
            count = count + 1;
            //alert(count);
            document.getElementById("total").textContent = count;
        }

    </script>

{% endblock %}