{% extends '_base.html' %}
{% block content %}
    <p>See how other players are doing.</p>
    {% if user is defined %}<p>Logged in as:&nbsp<strong>{{user['uname']}}</strong></p>{% endif%}
    <table>
        <tr>
            <td><strong>Name</strong></td>
            <td><strong>Collectibles</strong></td>
            <td><strong>Collectibles per Second</strong></td>
        </tr>
        {% for player in players %}
        <tr>
            {%if user and player['uname'] == user['uname'] %}
            <td><strong>{{player['uname']}}</strong></td>
            <td name = 'number'><strong>{{player['collectibles']}}</strong></td>
            <td name = 'number'><strong>{{player['cps']}}</strong></td>
            {% else %}
            <td>{{player['uname']}}</td>
            <td name = 'number'>{{player['collectibles']}}</td>
            <td name = 'number'>{{player['cps']}}</td>
            {% endif %}
        </tr>
        {% else %}
        <tr><td>No players found.</td></tr>
        {% endfor %}
    </table>
    <script>
        numbers = document.getElementsByName('number');
        for(let i = 0; i<numbers.length;i++){
            //console.log(numbers[i].textContent);
            //console.log(numbers[i].innerHTML);
            if(numbers[i].innerHTML.includes('strong')){
                numbers[i].innerHTML = '<strong>' + parseInt(numbers[i].textContent).toLocaleString() + '</strong>';
            }
            else{
                numbers[i].textContent = parseInt(numbers[i].textContent).toLocaleString();
            }
            //console.log(numbers[i].innerHTML);
            //console.log('-=-');
        }
    </script>
{% endblock %}
