{% extends '_base.html' %}
{% block content %}
    {% if err %}
        <p class = "error" name = "status">Error: {{err}}</p>
    {% endif %}
        <br>
        <table id = "inputTable">
        <form id = "userinput" method = "post" action="/login">
            <tr>
            <td id = "inputElement">
            <label for="uname">Username:</label>
            </td>
            <td id = "inputElement">
            <input type="text" id="uname" name="uname">
            </td>
            </tr>
            <tr>
            <td id = "inputElement">
            <label for="password">Password:</label>
            </td>
            <td id = "inputElement">
            <input type="password" id="password" name="password">
            </td>
            </tr>
            <tr>
            <td id = "inputElement">
            <input type="submit" value="Submit">
            </td>
            </tr>
        </form>
        </table>
        <p>
        Not registered? 
        </p>
        <a href="create.html">Join now</a>
{% endblock %}
