<html>
    <head>
        <title>Login</title>
        <h1>
            Login
        </h1>
    </head>
    <body>
        <form action="/action_page.php">
        <label for="uname">Username:</label><br>
        <input type="text" id="uname" name="uname"><br>
        <label for="password">Password:</label><br>
        <input type="text" id="password" name="password"><br><br> 
        <input type="submit" value="Submit">
        </form>

        Not registered? 
        <a href="create.html">Join now</a>
    </body>

</html>
