{% extends '_base.html' %}
{% block content %}

        <p>This is the place to make your collectibles special. Create or search for a new design!</p>
        {% if status %}
            <p>Status: {{status}}</p>
        {% endif %}


        <table id = "inputTable">
        <tr>

        <form action="/upload-image" enctype="multipart/form-data" method = "POST">
        <td id = "inputElement">Image File:</td> 
        <td id = "inputElement"><input type="file" id="img" name ="img" accept="image/*" value = "Upload a new cookie design!"></td>
        </tr>
        <tr>
        <td id = "inputElement">
        Image Name: </td> 
        <td id = "inputElement"><input type="text" id="name" name="name"> </td>
        </tr>
        <tr>
        <td id = "inputElement">
        User:</td> <td id = "inputElement"><input type="text" name="temp-username"> </td>
        </tr>
        </table>
        <br>
        <div id = "userinput">
        <input type="submit" value="Upload"> 
        </div>
        </form>
        
        

        <p>OR</p>
        <p>Search for a design made by another user!</p>
        
        <table id = "inputTable">
        <tr>
        <td id = "inputElement">
        <form action="/image-search" method = "GET">
        </td>
        
        <td id = "inputElement">Search:</td><td id = "inputElement"> <input type="text" name="search"> </td>
        </tr>
        </table>
        <br>
        <div id = "userinput">
        <input type="Submit" value="Submit">
        </div>
        </form>
        
        
        
        <br><br>
        
        <h2 name="imagedisplay">{{imgheader}}</h2>
        <div class = "img-container">            
        {% for i in items %}
            <div class = "img">
            <h2>{{i['title']}}</h2>
            <h4>Uploaded By {{i['username']}}</h4>
            <div class = "market-image-outer">         
            <image src="{{i['url']}}" class = "market-image-inner"></image>
            </div>
            <br>
            <div class = "market-buttons">
            {% if user is defined and i['url'] not in user['saved_imgs'] %}
            <input name = "button{{i['title']}}" id = "{{i['url']}}" onclick = "add(this.id)" type='button' value = 'Claim'>
            <nobr class = "Xs" id = "x{{i['url']}}" onmouseover = "xEvent(this)" onmouseout="clearXEvent(this)" onclick = "remove(this.id)" style = 'cursor: default; visibility: hidden;'>&times;</nobr>
            {% elif user is defined and i['url'] in user['saved_imgs'] %}
            <input name = "button{{i['title']}}" id = "{{i['url']}}" onclick = "add(this.id)" type='button' value = 'Claimed' disabled>
            <nobr class = "Xs" id = "x{{i['url']}}" onmouseover = "xEvent(this)" onmouseout="clearXEvent(this)" onclick = "remove(this.id)" style = "cursor: default;">&times;</nobr>
            {% endif %}
            </div>
            </div>
            
        {% else %}
            <br><h2>No Images Found.</h2>
        {% endfor %}
        </div>

        <script src="/s/ajaxRequests.js"></script>
        <script src = "/s/marketHandling.js"></script>
        <script>

            function xEvent(target){
                event.target.style.color = 'red';
                event.target.style.fontWeight = 'bold';   
            }

            function clearXEvent(target){
                event.target.style.color = "";
                event.target.style.fontWeight = 'normal';
            }
          
            {% if user is defined %}
                let userObj = {{ user|tojson }};
            {% endif %}
            function add(url){
                {% if user is defined %}
                    claimImg(userObj.uname,url);
                {% endif %}
            }
            function remove(url){                
                {% if user is defined %}
                    removeImgMarketplace(userObj.uname,url.substring(1));
                {% endif %}
            }
        </script>


{% endblock %}
