{% extends '_base.html' %}
{% block content %}

        <p>This is the place to make your collectibles special. Create or search for a new design!</p>
        {% if status %}
            <p>Status: {{status}}</p>
        {% endif %}


        <table id = "inputTable">
        <tr>

        <form action="/upload-image" enctype="multipart/form-data" method = "POST">
        <td id = "inputElement">Image File:</td> 
        <td id = "inputElement"><input type="file" id="img" name ="img" accept="image/*" value = "Upload a new cookie design!"></td>
        </tr>
        <tr>
        <td id = "inputElement">
        Image Name: </td> 
        <td id = "inputElement"><input type="text" id="name" name="name"> </td>
        </tr>
        <tr>
        <td id = "inputElement">
        User:</td> <td id = "inputElement"><input type="text" name="temp-username"> </td>
        </tr>
        </table>
        <br>
        <div id = "userinput">
        <input type="submit" value="Upload"> 
        </div>
        </form>
        
        

        <p>OR</p>
        <p>Search for a design made by another user!</p>
        
        <table id = "inputTable">
        <tr>
        <td id = "inputElement">
        <form action="/image-search" method = "GET">
        </td>
        
        <td id = "inputElement">Search:</td><td id = "inputElement"> <input type="text" name="search"> </td>
        </tr>
        </table>
        <br>
        <div id = "userinput">
        <input type="Submit" value="Submit">
        </div>
        </form>
        
        
        
        <br><br>
        
        <h2 name="imagedisplay">{{imgheader}}</h2>
        <div class = "img-container">            
        {% for i in items %}
            <div class = "img">
            <h2>{{i['title']}}</h2>
            <h4>Uploaded By {{i['username']}}</h4>
            <div class = "market-image-outer">         
            <image src="{{i['url']}}" class = "market-image-inner"></image>
            </div>
            <br>
            <div class = "market-buttons">
            {% if user is defined and i['url'] not in user['saved_imgs'] %}
            <img src = "/s/unsaved.png" class='icon' onmouseover = "iconHover(this.id)" onmouseout="clearIconHover(this.id)" name = "Unclaimed" id = "{{i['url']}}" onclick = "addOrRemove(this.id)">
            </img>
            <img src = "/s/share.png" class='icon' name = "Share" id ="icon {{i['url']}}" onmouseover = "iconHover(this.id)" onmouseout="clearIconHover(this.id)" onclick ="copyLink(this.id)">
            {% elif user is defined and i['url'] in user['saved_imgs'] %}
            <img src = "/s/saved.png" class='icon' onmouseover = "iconHover(this.id)" onmouseout="clearIconHover(this.id)" name = "Claimed" id = "{{i['url']}}" onclick = "addOrRemove(this.id)">
            <img src = "/s/share.png" class='icon' name = "Share" id ="icon {{i['url']}}" onmouseover = "iconHover(this.id)" onmouseout="clearIconHover(this.id)" onclick ="copyLink(this.id)">
            {% else %}
            <img src = "/s/saved.png" class='icon' style = "visibility: hidden">
            <img src = "/s/share.png" class='icon' name = "Share" id ="icon {{i['url']}}" onmouseover = "iconHover(this.id)" onmouseout="clearIconHover(this.id)" onclick ="copyLink(this.id)">
            {% endif %}
            </div>
            <p class="icon-tooltip" id ="tool {{i['url']}}">Check</p>
            </div>
            
        {% else %}
            <br><h2>No Images Found.</h2>
        {% endfor %}
        </div>

        <script src="/s/ajaxRequests.js"></script>
        <script src = "/s/marketHandling.js"></script>
        <script>


            function iconHover(url){                
                if(document.getElementById(url).name == 'Claimed'){
                    document.getElementById(url).src = '/s/unsaved_hover.png';
                    document.getElementById("tool " + url).innerHTML = 'Unclaim Image';
                    document.getElementById("tool " + url).style.visibility = 'visible';
                }else if(document.getElementById(url).name == 'Unclaimed'){
                    document.getElementById(url).src = '/s/unsaved_hover.png';
                    document.getElementById("tool " + url).innerHTML = 'Claim Image';
                    document.getElementById("tool " + url).style.visibility = 'visible';
                }else if(document.getElementById(url).name == 'Share'){
                    document.getElementById(url).src = '/s/share_hover.png';
                    document.getElementById("tool " + url.substring(5)).innerHTML = 'Copy Image Link';
                    document.getElementById("tool " + url.substring(5)).style.visibility = 'visible';
                }
                
            }

            function clearIconHover(url){
                if(document.getElementById(url).name == 'Claimed'){
                    document.getElementById("tool " + url).style.visibility = 'hidden';
                    document.getElementById(url).src = '/s/saved.png';
                }else if(document.getElementById(url).name == 'Unclaimed'){
                    document.getElementById("tool " + url).style.visibility = 'hidden';
                    document.getElementById(url).src = '/s/unsaved.png';
                }else if((document.getElementById(url).name == 'Share')){
                    document.getElementById("tool " + url.substring(5)).style.visibility = 'hidden';
                    document.getElementById(url).src = '/s/share.png';
                }
            }

            function copyLink(url){
                let newUrl = url.substring(5);
                navigator.clipboard.writeText(newUrl);
                document.getElementById("tool " + newUrl).innerHTML = 'Copied Image Link';
                document.getElementById("tool " + newUrl).style.visibility = 'visible';
            }            
          
            {% if user is defined %}
                let userObj = {{ user|tojson }};
            {% endif %}

            function addOrRemove(target){
                if(event.target.name=='Claimed'){
                    remove(event.target.id);
                }else{
                    add(event.target.id);
                }
            }

            function add(url){
                {% if user is defined %}
                    document.getElementById("tool " + url).innerHTML = 'Unclaim Image';
                    claimImg(userObj.uname,url);
                {% endif %}
            }
            function remove(url){                
                {% if user is defined %}
                    document.getElementById("tool " + url).innerHTML = 'Claim Image';
                    removeImgMarketplace(userObj.uname,url);
                {% endif %}
            }
        </script>


{% endblock %}
