{% extends '_base.html' %}
{% block content %}

        <p>Upload Page</p>
        {% if status %}
            <p>Status: {{status}}</p>
        {% endif %}

        {% if user is defined %}
        <table id = "inputTable">
        <tr>

        <form action="/upload-image" enctype="multipart/form-data" method = "POST">
        <td id = "inputElement">Image File:</td> 
        <td id = "inputElement"><input type="file" id="img" name ="img" accept="image/*" value = "Upload a new cookie design!"></td>
        </tr>
        <tr>
        <td id = "inputElement">
        Image Name: </td> 
        <td id = "inputElement"><input type="text" id="name" name="name"> </td>
        </tr>
        <tr>
        <td id = "inputElement">
        User:</td> <td id = "inputElement"><input type="text" name="temp-username" value = "{{user['uname']}}"> </td>
        </tr>
        </table>
        <br>
        <div id = "userinput">
        <input type="submit" value="Upload"> 
        {% else %}
        <p>Sign in to upload images!</p>
        {% endif %}
        </div>
        </form>
{% endblock %}
