{% extends '_visit.html' %}
{% block content %}
    {% if noUser %}
    <p>Welcome to the Visit portal!</p>
    <h2>User '{{attemptedVisit}}' not found!</h2>
    <br>
    <div class="centered">
        <input type='text' id='userSearch'>
        <input type='button' value='Search' onclick='createRedirectURL()'>
    </div>
    {% elif visiting %}
    <br>
    <div class='centered'>
        <h2>Currently visiting: {{visiting['uname']}}</h2>
    </div>
    <br><br> 

    <div class = "container">
        <div class = "row">

            <div class = "column" style='float:left; width:10%'>
                <div class = "box" id = "1">
                    <span style="font-size:20px;cursor:pointer;">Buildings</span>
                </div>
                <div class = "box" id = "2">
                    <span style="font-size:20px;cursor:pointer;" >Friend Search</span>
                </div>
                <div class = "box" id = "3">
                    <span style="font-size:20px;cursor:pointer;">Friend List</span>
                </div>
            </div>

            <div  class = "column" id = "gameArea" style='float:left; width:75%; margin-left:40px'>               
                <div id="click-object">                    
                    <img src="{{ template }}" id = "click-button" onclick="inc()" alt="click object" height="256em" width="256em">
                    <img src="{{ visiting['sel_img'] }}" id = "user-image" height="256em" width="256em"> 
                </div>
            </div>
            <div  class = "column" style='float:left; width:15%; margin-right:0px'>
            </div>
        </div>
    </div>
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

    <!--
    <h2 id="total">{% if visiting['collectibles'] is defined %}{{visiting['collectibles']}}{% else %}0{% endif %}</h2>
    <div class='centered'>
        <h3>{% if visiting['collectible_label_p'] is defined %}{{visiting['collectible_label_p']}}{% else %}Collectibles{% endif %}</h3>
    </div>
    -->

    {% else %}
    <p>Welcome to the Visit portal!</p>
    <div hidden><h2>User not found!</h2></div>
    <br>
    <div class="centered">
        <input type='text' id='userSearch'>
        <input type='button' value='Search' onclick='createRedirectURL()'>
    </div>
    {% endif %}
    <script>

        {% if visiting %}
        cols = "{{ colors }}";         
        let colors = cols.split('-');
        
        let variations = ['bg','gs','r','s','n'];

        for(let i = 0;i<colors.length;i++){
            if(colors[i]!="#"){
                changeColorStart(variations[i],colors[i])
            }
        }

        let count = {{visiting['collectibles']}} + (Math.floor((Date.now() - {{visiting['left_game']}}) / 1000) * {{visiting['cps']}});
        
        //updateUIOnLoad("{{visiting['uname']}}");

        //document.addEventListener('onload', function(){ document.getElementById("total").textContent = count.toLocaleString();});

        setInterval(function() { count = count + {{visiting['cps']}}; document.getElementById("total").textContent = count.toLocaleString(); }, 1000);

        function changeColorStart(id,c){
                if(id=='bg'){
                    var items = document.querySelectorAll("body");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                }else if(id=='gs'){
                    document.getElementById("gameArea").style.backgroundColor = c;
                }else if(id=='r'){
                    var items = document.querySelectorAll("div.nav");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }

                    c = c.replace('1','0');
                    c = c.replace('2','0');
                    c = c.replace('3','1');
                    c = c.replace('4','2');
                    c = c.replace('5','3');
                    c = c.replace('6','4');
                    c = c.replace('7','5');
                    c = c.replace('8','6');
                    c = c.replace('9','7');
                    c = c.replace('a','8');
                    c = c.replace('b','9');
                    c = c.replace('c','a');
                    c = c.replace('d','b');
                    c = c.replace('e','c');
                    c = c.replace('f','d');

                    var items = document.querySelectorAll("div.innerNav");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                                        
                }else if(id=='s'){
                    var items = document.querySelectorAll("div.box");
                    for(let i = 0; i<items.length;i++){
                        items[i].style.backgroundColor = c;
                    }
                }else if(id=='n'){                  
                    document.getElementById("topOfPage").style.backgroundColor = c;
                }
                
            }
        {% endif %}
        
        function createRedirectURL(){
            let newUrl = document.getElementById('userSearch').value;
            console.log(newUrl);
            window.location.href=newUrl;
        }
    </script>
{% endblock %}